#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

#UserInterface.card {
  width: 472px;
  height: 621px;
  flex-shrink: 0;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.70);
  display: flex;
  flex-direction: column;
}

.profiles {
  width: 110px;
  height: 111px;
  border-radius: 50px;
  background: #D9D9D9;
  margin: 51px 37px 0; /* เอาบรรทัดนี้ออกเนื่องจากแก้ไขการจัด layout */
  display: flex;
  align-items: center; /* จัดให้แนวตั้งกับแนวนอนอยู่ตรงกลาง */
}

.userName {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 120px;
}

#text-field {
  margin: 29px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 1px; 
}

#PostListInterface {
  width: 814px;
}